//background
$background-main-light: #FAFBFF;
$background-main-dark: #1B1B1E;
$background-secondary-light: #F2F2F2;
$background-secondary-dark: #131313;
$background-card-light: #FAFBFF; 
$background-card-dark: #242428;

$headline-light: #000;
$headline-dark: #FFF;

$paragraph-light:  #646473;
$paragraph-dark:  #646473;

$button-text-light: #fffffe;
$button-text-dark: #fffffe;

$button-background-light: #3549D9;
$button-background-dark: #3549D9;



$color-bg-tertiary: #8c7851;
//Typography
$color-headline: #000;

//button
$color-button: #8c7851;

//Color
$color-main: #fffffe;
$color-secondary: #eaddcf;
$color-tertiary: #f25042;
//Card
